*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

.container {
    width: 100%;
}

header {
    background-color: blue;
    height: 80px;
    margin-bottom: 20px;

}


.margin-top-50 {
    margin-top: 50px;
}

.margin-side {
    margin-left: 10px;
    margin-right: 10px;
}

.col {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 20px;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

/*UTILITY CLASS*/

.padding-10 {
    padding: 10px;
}

.padding-30 {
    padding: 30px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}

p {
    line-height: 30px;
}

.text-white {
    color: white;
}

.card-background-white {
    background-color: white;
    border-radius: 50px;
}

.text-align-center {
    text-align: center;
}

.text-corsivo {
    font-style: italic;
    font-weight: bold;
}

.text-lilla{
    color: #9792e4;;
}

.font-size-40{
    font-size: 40px;
}

/*INIZIO MAIN*/

/*PRIMA SEZIONE*/

.card {
    width: 90%;
    margin: 0 auto;
}

 .col-70 {
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 10px;
    
    

}

 .col-30 {
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 10px;
    
}

.first-row-first-section, .second-row-first-section {
    text-align: left;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #61778a;
}

.first-row-first-section img {
    max-width: 80%;
}

.first-row-first-section h2 {
    color: #0084fd;
}
.first-row-first-section h3 {
    color: #0084fd;
}

.fa-file, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn {
    color: #0084fd;;
}

.first-row-first-section a {
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    background-color: #0084fd;
    border-radius: 20px;
}

.first-row-first-section .col-30 {
    text-align: center;
}

.second-row-first-section {
    text-align: center;
}

.second-row-first-section h3 {
    color: #0084fd;;
}


/*SECONDA SEZIONE*/

.row-second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.background-lilla {
    background-color: #9792e4;
}

.row-second-section img {
    max-width: 100%;
}

.row-second-section a {
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 100%;
    background-color: #9792e4;
}







/*TERZA SEZIONE*/

.first-row-third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.second-row-third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.col-20 {
    background-color: #9792e4;
    border-radius: 20px;
    margin: 10px;
}

.second-row-third-section img {
   width: 100%;
  border-radius: 100%;
  padding: 20px;
}





/*QUARTA SEZIONE*/

.first-row-fourth-section{
    text-align: center;
}

.second-row-fourth-section {
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
}

.second-row-fourth-section p {
    color: #61778a;
}

.second-row-fourth-section a {
    padding: 10px 50px;
    background-color: #9792e4;
    text-decoration: none;
    color: white;
    border-radius: 20px;
}
.second-row-fourth-section .col-30 {
    background-color: white;
}

/*QUINTA SEZIONE*/

.row-fifth-section .col-70 {
    background-color: white;
}

.row-fifth-section .col-30 {
    background-color: white;
}

.row-fifth-section img {
    max-width: 50%;
    border-radius: 100%;
}

.row-fifth-section a {
    background-color: #9792e4;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

/*SESTA SEZIONE*/

.col-100 {

    
    border-radius: 20px;
    margin: 10px;
}

/*FINE SESTA SEZIONE*/

/*FOOTER*/

footer .col-100 {
    background-color: darkgreen;
}








/*****************************************************/

/*MEDIA QUERY*/

/*****************************************************/

/*MEDIA PRIMA SEZIONE*/
@media screen and (min-width: 768px) {
    .first-row-first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    .second-row-first-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    

    .col-30{
        width: 30%;
    }

    .col-70 {
        width: 68%;
    }
}
@media screen and (min-width: 992px){
    .container {
        width: 80%;
        margin: 0 auto;
    }
}
/*FINE MEDIA PRIMA SEZIONE*/



/*MEDIA SECONDA SEZIONE*/
@media screen and (min-width: 992px) {
    .row-second-section {
        flex-direction: row;
    }
}
/*FINE MEDIA SECONDA SEZIONE*/




/*MEDIA TERZA SEZIONE*/

/*FINE MEDIA TERZA SEZIONE*/



/*MEDIA QUARTA SEZIONE*/

@media screen and (min-width: 768px) {

    .second-row-fourth-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .second-row-fourth-section .col-30 {
        width: 47%;
    }

}

@media screen and (min-width: 992px) {

    .second-row-fourth-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .second-row-fourth-section .col-30 {
       width: 30%;
    }
}
/*FINE MEDIA QUARTA SEZIONE*/

/*MEDIA QUINTA SEZIONE*/

@media screen and (min-width: 768px) {
    .row-fifth-section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    }

/*FINE MEDIA QUINTA SEZIONE*/


/*MEDIA SESTA SEZIONE*/
/********************/
/*FINE MEDIA SESTA SEZIONE*/






